.random{	
	background:url(../img/random.jpg);
			
}

.kunimitsu{
	background:url(../img/yoshigirl.jpg);
	
}
.kazuya{
	background:url(../img/mishima.jpg);
	
}
.bruce{
	background:url(../img/openmouth.jpg);
	
}
.kuma{
	background:url(../img/bear\ .jpg);
	
}
.jack{
	background:url(../img/robot.jpg);
	
}
.lee{
	background:url(../img/kpopgay.jpg);
	
}
.baek{
	background:url(../img/monk.jpg);
	
}
.julia{
	background:url(../img/indian.jpg);
	
}
.armorking{
	background:url(../img/armored_king.jpg);
	
}
.gunjack{
	background:url(../img/robot_2.jpg);
	
}
.anna{
	background:url(../img/Anna.jpg);
	
}
.bryan{
	background:url(../img/Bryan.jpg);
	
}
.heihachi{
	background:url(../img/Heihachi.jpg);
	
}
.ganryu{
	background:url(../img/Sumo.jpg);
	
}
.michelle{
	background:url(../img/Indian_2.jpg);
	
}
.jun{
	background:url(../img/Kpopqueer.jpg);
	
}
.xiaoyu{
	background:url(../img/xiaoyu.jpg);
	
}
.yoshimitsu{
	background:url(../img/yoshi.jpg);
	
}
.nina{
	background:url(../img/nina.jpg);
	
}
.law{
	background:url(../img/lee.jpg);
	
}
.hwoarang{
	background:url(../img/hoawarang.jpg);
	
}
.eddy{
	background:url(../img/Eddie.jpg);

}
.paul{
    background: url(../img/Paul.jpg);

}
.king{
     background: url(../img/king.jpg);

}
.lei{
     background: url(../img/police.jpg);

}
.jin{
     background: url(../img/Jin.jpg);

}
.dr{
     background: url(../img/oldman.jpg);

}
.prototypejack{
     background: url(../img/Jack.jpg);

}
.devilkazuya{
     background: url(../img/deviljin.jpg);

}
.bigogre{
     background: url(../img/ogr.jpg);

}
.ogr{
     background: url(../img/stoic.jpg);

}
.roger{
     background: url(../img/roger.jpg);
}